@tailwind base;
@tailwind components;
@tailwind utilities;

#om{
    background-image: url("../public/topography\ 2.svg") ;
    
    background-repeat: repeat;
    background-size: 10%;
}
#omr{
    background-image: url("../public/topography\ 2.svg") ;
    
    background-repeat: repeat;
    background-size: 10%;
}

#vrt{
    background-image: url("../public/topography\ 2.svg") ;
    
    background-repeat: repeat;
    background-size: 10%;
}

#pvr{
    background-image: url("../public/topography\ 2.svg") ;
    
    background-repeat: repeat;
    background-size: 10%;
}


#contact{
    background-image: url("../public/kiwi.svg");
    background-repeat: repeat;
    background-size: 5%;
}